.footer {
  position: relative;
  padding-bottom: var(--v-medium);
  z-index: 1;
  color: var(--primary);
}

.footer .marquee {
  margin-top: 0;
}

.footer a {
  color: var(--primary);
}

.footer .align-center {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.footer .align-center > * {
  margin-top: var(--v-medium);
}

.footer .socials {
  margin-bottom: calc(var(--gutter) / 2);
}

.footer:before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  margin-right: calc(var(--global-padding) * -1);
  margin-left: calc(var(--global-padding) * -1);
  width: calc(var(--global-padding) * 2 + 100%);
  height: 100%;
  z-index: -1;
  background: var(--grad);
}

.footer .info > .copy *:not(:last-child) {
  margin-right: 20px;
}

.footer .info > * {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media (min-width: 1024px) {
  .footer .info > .copy *:not(:last-child) {
    margin-right: 40px;
  }
}

@media (min-width: 1760px) {
  .footer:before {
    width: calc(100% + ((100vw - 1760px) + var(--global-padding) * 2));
    margin-right: calc(((100vw - 1760px) / 2 + var(--global-padding)) * -1);
    margin-left: calc(((100vw - 1760px) / 2 + var(--global-padding)) * -1);
  }
}
